html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

p {
  color:white;
}

a {
  font-family:'Dosis', sans-serif;
  font-size: 100%;
  color: #11B3AF;
  text-decoration:none;
  font-weight:bold;
 
}
a.blue {
  font-family:'Dosis', sans-serif;
  font-size: 100%;
  color: white;
  text-decoration:none;
  
 
}

.center {
  text-align:center;
  font-size:200%;
  font-weight:normal;
}
body {
  margin:0;
 
}

.home_ux {
  position:relative;
  width:100% 
}

.home {
  position:relative;
  width: 100%;
  margin: 0;
  /*margin-top:100px;*/
}

header {
  height: 0px;
  width: 100%;
  z-index:200;
  position: absolute;
  top:0;
  display:none;
}

.icons {
  width:100px;
  position:relative;
  display: block;
  margin-right:auto;
  
  margin-left:auto;
}

.mobile_column {
  position:relative;
  width:100%px;
  display: block;
  margin-right:auto;
  margin-left:auto;
  margin-top: 200px;
}

h1 {
  color:#666666;
}

.profile {
  position: absolute;
  top:0;
  display:block;
  width:40%;
  
}

#square_button {
  padding:top;
  border-top: 3px solid #11B3AF;
  
  text-align:center;
  
  padding-top:20%;
  padding-bottom:20%;
  font-size: 22px;
  color:#11B3AF;
  font-family:'Dosis', sans-serif;
}

#square_button2 {
  padding:top;
  border-top: 3px solid #11B3AF;
  border-bottom: 3px solid #11B3AF;
  text-align:center;
  padding-top:20%;
  padding-bottom:20%;
  font-size: 22px;
  color:#11B3AF;
  font-family:'Dosis', sans-serif;
}
.user_box {
  background-color:white;
  display:block;
  text-align:center;
  padding:10%;
  padding-bottom:20%;
  font-size: 22px;
  color:#666666;
  font-family:'Dosis', sans-serif;
  
}

.user_name {
  
  display:block;
}

.profile_text {
  font-family:'Dosis', sans-serif;
  font-size: 15px;
  margin-top:3%;
  
  
  
}

#events {
  display:block;
  position: absolute;
  top:0;
  right:0;
  width:60%;
  padding:5%;
  min-height:500px;
  background-color:#11B3AF;
  
}


#pets {
  position: absolute;
  display:none;
  top:0;
  right:0;
  width:60%;
  padding:5%;
  min-height:500px;
  background-color:#11B3AF;
  z-index: 5000;
  
}



.user_iconf {
  content:url("/user_icon.svg");
  width:70%;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  margin-top:5px;
}

.medicine_icon {
  content:url("/medicine.svg");
  width:50%;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  margin-top:5px;
}

.grooming_icon {
  content:url("/grooming.svg");
  width:50%;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  margin-top:5px;
}

.vet_visit_icon {
  content:url("/vet_visit.svg");
  width:50%;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  margin-top:5px;
}

h2 {
  color:#666666;
}
p {
  font-family:'Dosis', sans-serif;
  text-align: center;
  color:white;
}

.primary {
  position:relative;
  display:block;
  width: 100%;
  
}

.logo {
  position: relative;
  display:none;
  top:0;
  margin-left:1%;
  margin-top:5px;
  margin-bottom:40px;
  width:125px;
}

.logo2 {
  position: relative;
  top:0;
  margin-left:1%;
  margin-top:5px;
  margin-bottom:40px;
  width:125px;
}

.group1 {
  position: relative;
  width: 50%;
  float:left;
  overflow:hidden;
  
}

.group2 {
  position: relative;
  overflow:hidden;
  width: 50%;
}

.full_column {
  display:none;
}

.icon1 {
  display:none;
}
.icon2 {
  display:none;
}

.icon3 {
  display:none;
}
.icon4 {
  display:none;
}

.quote {
  display:none;
}



#hamburger {
  position:absolute;
  top:0;
  right:0;
  background-color:#11B3AF;
  margin-right:2%;
  width:50px;
  height:50px;
  z-index:10;
  
  
      
}
    
#mobile_menu {
  background-color:#666666;
  top:0;
  right:0;
  opacity: 0.8;
  filter: alpha(opacity=80);
  height:310px;
  width:100%;
  position:absolute;
  display:none;
  z-index:5000;
  
}

#mobile_links {
  text-align:center;
  font-size:40px;
  color:white;
  padding:10px;
  
}
#medicine_mobile {
  margin-top:15%;
}

#add_pet_event {

  color:white;
  display:block;
  text-align:center;
  font-family:'Dosis', sans-serif;
  
}




/*div {
border: 2px solid !important;
}*/
/*full-width-----------------------------------------------------*/
@media (min-width: 800px) {
  
  header {
    height: 100px;
    z-index:200;
    position: absolute;
    top:0;
    right:0;
    display:block;
    opacity: 0.8;
    width:90%;
    filter: alpha(opacity=80);
    background-color:#11B3AF;
  }
  .logo {
    position: relative;
    display:block;
    top:0;
    margin: 0px auto 5% auto;
    margin-bottom:40px;
    width:300px;
  }
  
  h1 {
    color:white;
  }
  
  h2 {
    color:white;
  }
  
  p {
    
    color:white;
  }
  
  #cat_back {
    display:block;
    position: absolute;
    top:0;
    right:0;
    width:90%;
    padding:5%;
    z-index:0;
    background: url("/cat.jpg") no-repeat center left fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 800px;
    overflow:hidden;
  }
  .logo2 {
    position: relative;
    display:none;
    top:0;
    margin-left:1%;
    margin-top:5px;
    margin-bottom:40px;
    width:125px;
  }
  
  .primary {
    position:relative;
    display:block;
    width: 100%;
    
  
  }
  
  #add_pet_event {
    position: relative;
    display:block;
    margin-top:20px;
    margin-right:auto;
    margin-left:auto;
    color:white;
    font-size:40px;
    text-align:center;
    font-family:'Dosis', sans-serif;
    
  }
  
  #events {
    position:absolute;
    top:50px;
    right:0;
    display:block;
    width:90%;
    background-color:transparent;
    height:100%;
  }
  
  #pets {
    display:none;
    position:absolute;
    top:100px;
    right:0px;
    width:100%;
    padding:5%;
    background-color:transparent;
    height:100%;
    
    
  }
  
  .medicine_icon {
    content:url("/medicine.svg");
    width:100px;
    position:relative;
    
  }
  
  .grooming_icon {
    content:url("/grooming.svg");
    width:100px;
    position:relative;
   
  }

  .vet_visit_icon {
    content:url("/vet_visit.svg");
    width:100px;
    position:relative;
    
  }

  
  #medicine_mobile {
    width:31%;
    float:left;
    
    
  }
  .profile {
    position: absolute;
    top:0;
    display:block;
    width:10%;
    
  }
 


  
  .group1 {
    display: none;
  }
  .group2 {
    display: none;
  }
  
  #hamburger {
    display:none;
  }
  
  #mobile_menu {
    display:none;
  
  }


  .icon1 {
    position: relative;
    float:left;
    width:25%;
    display:block;
  }
  .icon2 {
    position:relative;
    float:left;
    width:25%;
    display:block;
  }
  
  .icon3 {
    position:relative;
    float:left;
    width:25%;
    display:block;
  }
  
  .icon4 {
    position:relative;
    float:left;
    width:25%;
    display:block;
    
  }
  
  .full_column {
    display:block;
    position:relative;
    width:100%;
    display: block;
    margin-right:auto;
    margin-left:auto;
    padding-right: 5%;
    padding-left: 5%;
    margin-top:270px;
  }
  
  .mobile_column {
    display:none;
  }
  
  /*div {
    border: 2px solid !important;
    }*/
  
    .quote {
      display:none;
    
    }
    
    #square_button {
      border-top:0;
      text-align:center;
      padding-top:20%;
      padding-bottom:20%;
      font-size: 22px;
      color:white;
      font-family:'Dosis', sans-serif;
      background-color:#11B3AF;
    }

    #square_button2 {
      padding:top;
      border-top: 0;
      border-bottom: 0;
      background-color:#11B3AF;
      text-align:center;
      padding-top:20%;
      padding-bottom:20%;
      font-size: 22px;
      color:white;
      font-family:'Dosis', sans-serif;
    }
  
  }

  @media (min-width: 900px) {
  
    .full_column {
    
      margin-top:210px;
    }
  
    .quote {
      display:block;
      background-color: white;
      opacity: 0.5;
      filter: alpha(opacity=50);
      font-family:'Dosis', sans-serif;
      font-size: 30px;
      padding:5%;
      color:#11B3AF;
      text-align: center;
      margin-top:6%;
    }
 
    
    #square_button {
      border-top:0;
      text-align:center;
      padding-top:20%;
      padding-bottom:20%;
      font-size: 22px;
      color:white !important;
      font-family:'Dosis', sans-serif;
      background-color:#11B3AF;
    }

    #square_button2 {
      padding:top;
      border-top: 0;
      border-bottom: 0;
      background-color:#11B3AF;
      text-align:center;
      padding-top:20%;
      padding-bottom:20%;
      font-size: 22px;
      color:white !important;
      font-family:'Dosis', sans-serif;
    }
  }


